@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;800&family=Work+Sans&display=swap');

html body{
    margin: 0;
    padding: 0;
    color: white;
    background: #05101c;
    font-family: "Roboto Slab",serif;
    /* max-width: 1200px !important; */
}

.image-inverted{
    filter: invert(100%);
}

.nav-link{
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}